# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
venv310/
.env/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log

# MNIST dataset repo
mnist-pngs/